.login-img {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.img {
    vertical-align: middle;
    border-style: none;
    width: 250px;
    height: 250px;

}

.elipse-4 {
    z-index: -1;
    position: absolute;
    width: 350px;
    bottom: 0px;
    right: 5px;
}

.elipse3 {
    z-index: -10;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}