<div class="container">
  <h2>Add Prescription</h2>
  <form [formGroup]="prescriptionForm" (ngSubmit)="submit()">

    <!-- <img *ngIf="image == ''" src="assets/images/placeholder.png" alt="placeholder.png">
  <img src="{{'data:{{typeImg}};base64,' + image}}" alt="">
  <input id="inputFile" type="file" formControlName="file" (change)="file($event)">
  <div class="alert-danger" *ngIf="filePrescription?.invalid && (filePrescription?.dirty || filePrescription?.touched)">
  </div> -->

    <input type="text" formControlName="date" [(ngModel)]="date" placeholder="Prescription's DNI">
    <div class="alert-danger"
      *ngIf="datePrescription?.invalid && (datePrescription?.dirty || datePrescription?.touched)">
      <div class="container-error-message" *ngIf="datePrescription?.errors?.['required']">
        Prescription's Date required.
      </div>
    </div>


    <input type="text" formControlName="medicine" [(ngModel)]="medicine" placeholder="Prescription's medicine">
    <div class="alert-danger"
      *ngIf="medicinePrescription?.invalid && (medicinePrescription?.dirty || medicinePrescription?.touched)">
      <div class="container-error-message" *ngIf="medicinePrescription?.errors?.['required']">
        Prescription's medicine required.
      </div>
      <div class="container-error-message" *ngIf="medicinePrescription?.errors?.['minlength']">
        Prescription's medicine must have more than 2 characters.
      </div>
    </div>

    <input type="text" formControlName="posology" [(ngModel)]="posology" placeholder="Prescription's posology">
    <div class="alert-danger"
      *ngIf="posologyPrescription?.invalid && (posologyPrescription?.dirty || posologyPrescription?.touched)">
      <div class="container-error-message" *ngIf="posologyPrescription?.errors?.['required']">
        Prescription's posology is required.
      </div>
      <div class="container-error-message" *ngIf="posologyPrescription?.errors?.['minlength']">
        Prescription's posology must have more than 2 characters.
      </div>
    </div>

    <select formControlName="doctor" [(ngModel)]="doctor" placeholder="Prescription's Doctor">
      <option (change)="onChangeDoctor(i-1)" *ngFor="let d of doctor2, index as i" value={{d.id}}>{{d.name}}
      </option>
    </select>
    <!-- <div class="alert-danger"
          *ngIf="doctorPrescription?.invalid && (doctorPrescription?.dirty || doctorPrescription?.touched)">
          <div class="container-error-message" *ngIf="doctorPrescription?.errors?.['required']">
              Prescription's doctor is required.
          </div>
      </div> -->

    <select formControlName="patient" [(ngModel)]="patient" placeholder="Prescription's Patient">
      <option (change)="onChangePatient(i-1)" *ngFor="let p of patient2, index as i" value={{p.id}}>{{p.name}}
      </option>
    </select>
    <div class="alert-danger"
      *ngIf="patientPrescription?.invalid && (patientPrescription?.dirty || patientPrescription?.touched)">
      <div class="container-error-message" *ngIf="patientPrescription?.errors?.['required']">
        Prescription's patient is required.
      </div>
    </div>

    <!-- <textarea formControlName="history" [(ngModel)]="history" placeholder="Patient's medical history" rows="5">
    </textarea>
      <div class="alert-danger" *ngIf="historyPatient?.invalid && (historyPatient?.dirty || historyPatient?.touched)">
          <div class="container-error-message" *ngIf="historyPatient?.errors?.['required']">
              Patient's medical history required.
          </div>
          <div class="container-error-message" *ngIf="historyPatient?.errors?.['minlength']">
              Patient's medical history must have more than 5 characters.
          </div>
      </div> -->

    <button type="submit" class="btn-send" [disabled]="!prescriptionForm.valid">Send</button>

  </form>
  <button class="btn-send" (click)="delete()">Delete</button>
</div>