<!-- <head>
    <link href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
</head> -->

<app-nav></app-nav>
<h1>Patients</h1>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Patients</h3>
            <button (click)="Add()" class="Add">Add</button>
        </div>
        <div class="card-body" >
            <table class="table table-striped" id="table" name="table" width="900" cellspacing="3" cellpadding="3" style="font-size: 15pt">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Surname</th>
                        <th>Dni</th>
                        <th>History</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let p of patients" class="text-center">
                        
                        <td><img mat-card-image src="{{'data:{{typeImg}};base64,' + p.image}}" alt="" class="p-img"></td>
                        <td>{{p.name}}</td>
                        <td>{{p.surname}}</td>
                        <td>{{p.secondSurname}}</td>
                        <td>{{p.dni}}</td>
                        <td>{{p.history}}</td>
                        <td>      
                            <button class="edit">
                            <img src="../../../../assets/images/editing.png" alt="edit"class="edit" [routerLink]="['/editpatient']"/>
                            </button>

                            <button class="delete"  (click)="delete()">
                            <img src="../../../../assets/images/delete.png" alt="delete"class="delete"/>
                            </button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<router-outlet></router-outlet>