.container-e {
    width: 90vw;
    height: 90vh;
    padding: 16px;
    margin: 10px auto;
    // text-align: center;
    position: absolute;
    top: 10%;
    left: 7%;
}

.card{
    width: 100%;
}

.delete{
    background-color: transparent;
    border: none;
}

.edit{
    background-color: transparent;
    border: none;
}
  
img {
    width: 100%;
    height: 20px;
}
.Add {
   
    border: 2px solid #9F73AB;  
    border-radius: 20px;
}

.p-img {
    width: auto;
    height: 75px;

}


table th {
    text-align: center;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle; 
    // border-top: 1px solid #b69d12;
    
}

.card-header {
//    background-color: #d1c6d4;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0; 
}

