<app-nav></app-nav>
<div class="container-e">
    <div class="card">
        <div class="card-header">
            <h3>Doctors</h3>
            <button (click)="Add()" class="Add">Add doctors</button>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table" name="table" width="900" cellspacing="3" cellpadding="3" style="font-size: 15pt">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Second Surname</th>
                        <th>Dni</th>
                        <th>collegiateNum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of doctors" class="text-center">
                        <td>{{d.name}}</td>
                        <td>{{d.surname}}</td>
                        <td>{{d.secondSurname}}</td>
                        <td>{{d.dni}}</td>
                        <td>{{d.collegiateNum}}</td>
                        <td>      
                            <button class="edit">
                            <img src="../../../../assets/images/editing.png" alt="edit"class="edit" routerLink="/edit-doctor/{{d.id}}"/>
                            </button>

                            <button class="delete"  (click)="delete(d.id)">
                            <img src="../../../../assets/images/delete.png" alt="delete"class="delete"/>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- 
<router-outlet></router-outlet> -->