.container {
    max-width: 700px;
    padding: 16px;
    margin: 10px auto;
    position: absolute;
    top:10%;
    left:25%;
}
.btn-send {
    border-radius: 20px;
    width: 30%;
     padding: 1dvh;
    color: #A88A1E;
    border: 2px solid #9F73AB;
    font-size: 15px;
    margin-top: 1em;
    text-align: center;
    background: #eaebea;
}

h4{
    color: #76989b;
}