// @import "~ng-zorro-antd/ng-zorro-antd.min.css";
// @import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
// @import "~ng-zorro-antd/button/style/index.min.css";


body{
    max-width: 100vw;
    background: #eaebea;

    // [data-theme='dark'] {
    //     --background: #7C99AC;
        
    // }
}