.form-container {
    max-width: 500px;
    padding: 16px;
    margin:  auto;
    background: transparent;
    text-align: center;
 
}


.btn-send {
    border-radius: 30px;
    width: 60%;
    padding: 10px;
    // background: #F5F1ED;
    color: rgb(0, 0, 0);
    border: 2px solid #A88A1E;
    font-size: 15px;
    margin-top: 5px;
  
}

.btn-register {
    border-radius: 30px;
    width: 60%;
    padding: 10px;
    background: none;
    color: black;
    border: 2px solid #A88A1E;
    font-size: 15px;
}


// .btn-send:hover:not([disabled]) {
//     // background: #dcd8d4;
// }

input[type="text"],
input[type="password"],
textarea {
    border-radius: 10px;
    -webkit-transition: all 0, 30s ease-in-out;
    transition: all 0, 30s ease-in-out;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
     background: none;
    margin-bottom: 15px;
    border: 2px solid #A88A1E;
    // padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"],
textarea :focus {
    padding: 15px;
    
}

.alert-danger {
    color: #721c24;
    border-color: #f5c6cb;
    margin-bottom: 5px;
}

.container-error-message {
    padding: 3px;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.contact-info p {
    text-align: center;
    margin: 1.2em 0 .4em 0;
}
