<app-header></app-header>

<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="submit()">

<input type="text" formControlName="email" [(ngModel)]="email" placeholder="Email">
<div class="alert-danger" *ngIf="emailUser?.invalid && (emailUser?.dirty || emailUser?.touched)">
    <div class="container-error-message" *ngIf="emailUser?.errors?.['required']">
        User's Email required.
    </div>
    <div class="container-error-message" *ngIf="emailUser?.errors?.['minlength']">
        User's email must have more than 2 characters.
    </div>
</div>


<input type="text" formControlName="username" [(ngModel)]="username" placeholder="Username">
<div class="alert-danger" *ngIf="usernameUser?.invalid && (usernameUser?.dirty || usernameUser?.touched)">
    <div class="container-error-message" *ngIf="usernameUser?.errors?.['required']">
        User's username required.
    </div>
    <div class="container-error-message" *ngIf="usernameUser?.errors?.['minlength']">
        User's username must have more than 2 characters.
    </div>
</div>

<input type="text" formControlName="password" [(ngModel)]="password" placeholder="password ">
<div class="alert-danger" *ngIf="passwordUser?.invalid && (passwordUser?.dirty || passwordUser?.touched)">
    <div class="container-error-message" *ngIf="passwordUser?.errors?.['required']">
        User's password is required.
    </div>
    <div class="container-error-message" *ngIf="passwordUser?.errors?.['minlength']">
        User's password must have more than 2 characters.
    </div>
</div>

<app-footer></app-footer>

<button type="submit" class="btn-send" [disabled]="!userForm.valid">Send</button>